#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules file for Chaste, modified from the sample debian/rules that uses debhelper.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

clean:
# Nothing to do

build:
# Nothing to do

install-indep:
# Nothing to do

# Build architecture-dependent files here.
binary-arch:
# Nothing to do

# Build architecture-independent files here.
binary-indep: install-indep
	dh_testdir
	dh_testroot
	dh_installchangelogs -i
	dh_installdocs -i -XCopying.txt -X.svn
	dh_compress -i -Xlicences
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary install build
